*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    width: 100%;
}
body>div{
    width: 50%;
    height: 100vh;
}
.mainCon1{
    color: white;
    background-color: #1C6DD0;
    border-radius: 0 3.3vw 3.3vw 0;
}
.mainCon2>div{
    width: 100%;
    height: auto;
    /* background-color: blue;s */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
body>div>h1{
    height: 6vw;
    /* background-color: brown; */
    /* text-align: end; */
    padding-top: 3vw;
    font-size: 3vw;
}
body>div>h1>i{
    margin-right: 0.3vw;
}
.head1{
    text-align: end;
    padding-right: 0.2vw;
}
.head2{
    padding-left: 0.2vw;
}
.aboutPro>h2{
    padding-top: 4vw;
    text-align: center;
}
.aboutPro>p{
    padding: 4vw;
    font-size: 1.3vw;
}
form{
    margin-top: 20%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}
form>div{
    margin: 0.4vw 0 0.4vw 0;
    font-size: 1.8vw;
    display: flex;
    padding: 0 7vw 0 7vw;
    width: 100%;
    /* background-color: beige; */
    justify-content:space-between;
}
form>div>input{
    width: 50%;
    border-radius: 0.4vw;
    border: 2px solid #1C6DD0;
}
form>div>input[type=text]{
    font-size: 1vw;
    padding: 0.4vw;
}
form>button{
    font-size: 1.8vw;
    margin: 0.4vw 7vw 0.4vw 7vw;
    border-radius: 0.4vw;
    border: none;
    background-color: #1C6DD0;
    color: white;
    padding: 0.3vw 0 0.3vw 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
form>button:hover{
    box-shadow: none;
    cursor: pointer;
}
p{
    font-size: 1.1vw;
    /* background-color: aqua; */
    padding: 1.5vw;
}